.idea/   
cookbook.iml
kogebog/Radikal_Ungdoms_Klimavenlige_kogebog.aux
kogebog/Radikal_Ungdoms_Klimavenlige_kogebog.log
kogebog/Radikal_Ungdoms_Klimavenlige_kogebog.out
kogebog/Radikal_Ungdoms_Klimavenlige_kogebog.pdf
kogebog/Radikal_Ungdoms_Klimavenlige_kogebog.synctex.gz
kogebog/Radikal_Ungdoms_Klimavenlige_kogebog.toc
kogebog/recipes.tex
kogebog/data.tex
target/
                                                                                               